@font-face {
    font-family: molde-semi;
    src: url(../Fonts-Molde/molde-semi.ttf);
}
@font-face {
    font-family: molde-light;
    src: url(../Fonts-Molde/molde-light.ttf);
}
@font-face {
    font-family: molde-regular;
    src: url(../Fonts-Molde/molde-regular.ttf);
}

.wrapper{
    margin-top: -60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: transparent;
}
.wrapper .imgwrap{
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    
}
.wrapper img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(65%);
}

.log_wrapper{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 150px ;
    max-width: 90%;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.564);
    backdrop-filter: blur(40px);
   
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.heading{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: molde-semi;
    padding: 10px;
    font-size: 30px;
}

.input{
    padding: 3px 5px;
    width: auto;
    border-radius: 7px;
    border: solid rgba(255, 255, 255, 0.68);
    background-color: transparent;
    font-family: molde-regular;
    color: white;
}

.inputp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
}

label{
    margin-top: -20px;
    background-color: transparent;
    font-family: molde-regular;
    font-size: x-small;
    color: white;
}

.log_wrapper .form button{
    background-color: transparent;
    color: white;
    font-family: molde-light;
    border-radius: 7px;
    border: 3px solid rgba(255, 255, 255, 0.377);
    width: 100px;
    margin: 0 auto;
    padding: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.log_wrapper .form button:hover{
    background-color: rgba(128, 128, 128, 0.463);
}

.log{
    color:rgb(255, 5, 5);
    margin-top: -10px;
    margin-bottom: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    font-family: molde-regular;
    font-size: small;
}

@media (max-width: 768px){
    header{
        background-color: black !important;
    }
    .log_wrapper{
        margin-top: 5%;
    }

}
@media (max-width:426px) {
    .heading{
        font-size: 25px;
    }
    .log_wrapper{
        margin-top: 20px;
        padding: 10px;
    }
    .input{
        padding: 3px;
        width: 200px;
        border: solid rgb(128, 128, 128) 1.5px; 
    }
    label{
        font-size: small;
        color: white;
    }
    .log_wrapper .form button{
        width: 100px;
        font-size: small;
    }
    .log{
        font-size: small;
    }
    .input::placeholder{
        font-size: 10px;
    }
}

@media (min-width:1440px){
    .wrapper{
        margin-top: -80px;
    }
    .heading{
        font-size: 2.5rem;
    }
    .log_wrapper{
        padding: 40px 300px ;
    }
    .input{
        padding: 5px 5px;
        width: 25rem;
    }
    label{
        font-size: medium;
        color: white;
    }
    .log_wrapper .form button{
        width: 150px;
        font-size: medium;
    }
    .log{
        font-size: medium;
    }
}

@media (min-width:2560px){
    .wrapper{
        margin-top: -120px;
    }
    .heading{
        font-size: 4rem;
        margin-bottom: 20px;
    }
    .log_wrapper{
        padding: 40px 300px ;
    }

    .input::placeholder{
        font-size: 1.8rem;
    }
    .input{
        font-size: 2rem;
        height: 4rem;
        width: 40rem;
        padding: 10px 10px;
    }
    label{
        font-size: 1.5rem;
        color: white;
    }
    .log_wrapper .form button{
        width: 200px;
        font-size: 2rem;
    }
    .log{
        font-size: 2rem;
    }
}